useDynLib(NonpModelCheck, .registration=TRUE)
export(npmodelcheck,npvarselec,localpoly.reg, group.npvarselec,plot3d.localpoly.reg)
import(dr)
importFrom("grDevices", "trans3d")
importFrom("graphics", "lines", "par", "persp", "plot", "points")
importFrom("stats", "dist", "pchisq", "pnorm", "princomp", "quantile", "var")
S3method(print, npmodelcheck)
S3method(npmodelcheck, default)
S3method(npvarselec, default)
S3method(localpoly.reg, default)
S3method(group.npvarselec, default)
S3method(summary, npmodelcheck)
S3method(print, summary.npmodelcheck)
S3method(print, npvarselec)
S3method(print, localpoly.reg)
S3method(print, group.npvarselec)